{% extends 'blahblahbuttons/base.html' %}

{% load static %}

{% block body_block %}
   <div class="seven columns">
       <div class="bg_box">
           <h1>Welcome</h1>
            <p>Blah Blah Buttons makes 1", 1.25", and 2.25" buttons. Our templates are in .psd (Photoshop) format. If you don’t have Photoshop you can upload images through our contact form and we’ll set it up in the template for you. We’ll send you a proof to be sure that the buttons will look how you want. </p>
       </div>
   </div>

{% endblock %}