/**********************************
GENERAL
***********************************/

a {
    text-decoration: none;
}


/**********************************
NAVIGATION & HEADER
***********************************/

#header {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    text-align: center;
}

#header a {
    color: #0FA0CE;
}

nav {
    text-align: center;
    padding: 12px 0;
    margin: 20px 0;
    font-size: 1.75em;
}

nav li {
    display: inline-block;
}


nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav a {
    font-weight: 700;
    padding: 15px 10px;
    color: #555555;
}

#headerImage img {
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
}


/**********************************
PAGE: INDEX
***********************************/


h1, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #0FA0CE;
}

ul {
    list-style: none;
}


/**********************************
PAGE: TEMPLATE
***********************************/

#template {
    list-style: none;
}

/**********************************
PRICE FORM
***********************************/

form {
    max-width: 300px;
    max-height: 500px;
    margin: 10px auto;
    padding: 10px 20px;
    background: dimgray;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    color: white;
    border: 1px solid gray;
}

.form {
    display: inline-block;
}

button {
    background-color: palegreen;
    font-size: 12px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 32px;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

input[type="number"] {
    border-radius: 5px;
    border: none;
    outline: 0;
    height: 25px;
}

.amount, .size {
    border: none;

}

select {
    font-size: 12px;
    outline: 0;
    width: 100%;
    background-color: #E1E1E1;
    color: #8a97a0;
    margin-bottom: 30px;
    height: 25px;
    border: none;
}

/**********************************
COLORS
***********************************/
